- var title= "devfloww Blog | Porfotlio" 

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        style
            include ../styles/index.css
            include ../styles/navbar.css
            include ../styles/navbar.mediaqueries.css
            
        
    body
        include ./navbar.pug
       
        //- Scripts
        script(src="../scripts/main.js") 
