body
    block main
        div.navbar#navbar
        ul 
            li.home#home: a(href='#') devfloww
            li.blog#blog: a(href='#') Blog
            li.contact#contact: a(href='#') Contact Me