block footer
    footer
        hr
        .links#links
            a.github-link(href="http://github.com/devfloww/", target="blank")
                i(class="bi, bi-github")
            a.twitter-link(href="http://x.com/devfloww/", target="blank")
                i(class="bi bi-twitter-x")
            a.linkedin-link(href="http://linkedin.com/", target="blank")
                i(class="bi bi-linkedin")
        p Thanks for coming. 
        p 2024 &copy; Sadiq Hayatuddeen. All rights reserved  
