- var title= "devfloww Blog | Porfotlio"

block main
    doctype html
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title #{title}

            link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

            style
                include /styles/index.css
                include /styles/navbar.css                
            
        body
            include ./navbar.pug
        
            //- Scripts
            script(src="../scripts/main.js") 
