include footer 
include navbar 

- var title= ''
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}

        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

        style
            include ./styles/index.css
            include ./styles/navbar.css
            include ./styles/footer.css              
        
    body
        block navbar


        block footer
        //- Scripts
        script(src="")
