//- 404 NotFound Page
- var title= "Page not found"

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}

        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

        style
            include styles/index.css
            include styles/notfound.css            
        
    body
        .container#container
            .notfound 
                span 4
                span#zero 0
                span 4
            p Ooos... the page you are looking for does'nt exist!
            span
                a.gotohome#gotohome(href="http://localhost:3000/") Go to Home            